public/uploads/*
public/.DS_Store
public/.settings/
public/.buildpath
public/.project
public/index_l.php
public/protected/config/main.php
public/protected/config/main_l.php
public/protected/runtime
.*
