.form-horizontal {
    input.error, select.error, textarea.error{
        border-color:red;
        border-width:1px;
    }
    label.error{
        margin-top:2px;
        color:red;
    }
    #submit_form {
      margin-top:30px;
    }
}

