// type
#primary_school_type_group {
  display:none;
}

// is_supported
#public_name_group {
  display:none;
}

#project_group {
  display:none;
}

// need_voluntee
#need_volunteer_count_group {
  display:none;
}

#volunteer_work_group {
  display:none;
}

// need_other
#need_other_content_group {
  display:none;
}