color = #eb5255
scolor = #dcdcdc
ncolor = #2f2732
pcolor = #5f5764
fcolor = #666
fbcolor = #f7f7f7
h3color = #d5b0a7
btncolor = #fff
font-size = 18px
font = font-size "微软雅黑", Arial
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
opacity()
  -moz-opacity arguments
  -khtml-opacity arguments
  opacity arguments
body
  font font

h2
  margin 50px 0 20px 0
  font-size font-size + 6px
  color color
  font-weight bold
  small
    padding-left 10px
    color scolor

ul, li
  list-style none

p
  line-height 28px
  font-size font-size - 4px

a
  color pcolor

a:hover
  color color
  text-decoration none

.f_header
  border-top 5px solid color
  h1
    margin 0
  .nav
    margin-top 50px
    a
      font-size font-size
      color ncolor
      &:hover
        color color
        background none

  .nav_btn
    float right
    padding-top 40px
    .btn
      line-height 40px
      padding 0 20px
      border-radius (6px)
      background color
      color btncolor
      font-size font-size
      &:hover
        opacity(0.9)
    .sign_school
      margin-left 20px

.f_banner
  .m_banner
    position relative
    height 450px
    background url(../img/banner.jpg) center top
    .banner_main
      position absolute
      left 50%
      width 640px
      padding-top 115px
      margin-left: -(@width / 2)
      text-align center
      //-background url(../img/banner_logo.png) no-repeat center 80px
      p
        color btncolor
        font-size 280%
        font-weight bold

.m_about
  color pcolor
  strong
    display block
    padding-bottom 4px
    font-weight 400

.m_news
  ul
    margin 0
    padding 0
    li
      padding 10px 0 0 0
      border-bottom scolor solid 1px
  h5
    margin-bottom 4px
    font-weight bold
    a

      font-size font-size - 2
    small
      padding-left 10px
  .news_title
    .log
      opacity (0.7)


  .news_main
    p
      a
        font-size font-size - 4
    .log_main
      display none

.m_map
  text-align center
  height 370px
  background url("../img/map.gif") no-repeat center top
.f_picture
  img
    margin-bottom 20px

.f_footer
  margin-top 50px
  padding 20px 0 60px 0
  background fbcolor
  color fcolor
  h3
    padding-bottom 10px
    border-bottom h3color solid 1px
    font-size font-size
    small
      padding-left 10px
  ul
    padding 0
    font-size font-size - 4
    li
      padding-left 15px
      line-height 28px
      background url(../img/li.gif) no-repeat left center
    a
      display block

      font-size font-size - 4
  .qr
    padding 20px 0 0 0
    text-align right
    img
      padding 10px
      border h3color solid 1px
      background #fff
  .version
    margin 50px 0 0
    padding-top 10px
    border-top h3color solid 1px
    font-size font-size - 4
  .copyright
    float left
  .icp
    float right

@media (min-width: 768px)
  .f_header .nav
    margin-top 34px
  .f_header .nav_btn .btn
    line-height 2em
    padding 0 10px
    font-size 0.75em
  .f_picture img
    margin-bottom 30px
@media (max-width: 768px)
  .f_banner .m_banner .banner_main
    position initial
    width auto
    margin 0 auto;
    font-size 10px
  .f_header
    h1
      text-align center
      img
        display inline
    .nav
      margin 0
      text-align center
      li
        float none
        display inline-block
        a
          padding 0 8px 15px
    .nav_btn
      float none
      padding 0 0 15px
      text-align center
  .f_footer
    margin-top 0
    .copyright
      float none
      p
        font-size 12px
    .icp
      float none
      p
        font-size 12px

























